<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Employee Attrition</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="satisfaction_level" placeholder="satisfaction_level (0-1)" required="required" />
        <input type="text" name="last_evaluation" placeholder="last_evaluation (0-1)" required="required" />
		<input type="text" name="number_project" placeholder="Number of Project Employee Currently Handling " required="required" />
		<input type="text" name="average_montly_hours" placeholder="average_montly_hours " required="required" />
		<input type="text" name="time_spend_company" placeholder="time_spend_company" required="required" />
        <input type="text" name="Work_accident" placeholder="Work_accident" required="required" />
        <input type="text" name="promotion_last_5years" placeholder="promotion_last_5years " required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
